@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

@font-face {
    font-family: 'AnimeAce';
    src: url('../../assets/animeace2_reg.ttf');
}

@font-face {
    font-family: 'AnythingSkribble';
    src: url('../../assets/Anything\ Skribble.ttf');
}

.home {
    margin: 0;
    background-color: #1e3741;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
}

.logo {
    display: flex;
    align-items: center;
}

.fire {
    margin-right: 8vw;
    margin-left: -4vw;
}

.title {
    color: rgb(226, 201, 168);
    font-family: 'Shrikhand', cursive;
    font-size: 5rem;
    text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939;
}

.form-container {
    background-color: #0c222c;
    padding: .7vw 1vw;
    border: 3px solid #091920;
    border-radius: 10px;
}

input {
    font-family: 'Sanchez', serif;
    font-size: 1rem;
    height: 4.5vh;
    width: 15vw;
    text-align: center;
    border-radius: 5px;
    border-color: white;
    margin: 1vh 0;
}

input:hover {
    border-color: black;
}

.join-button {
    background-color: #017e7f;
    font-family: 'AnimeAce';
    font-size: 1rem;
    margin: 1vh 0;
    width: 15vw;
    height: 4.5vh;
    color: white;
    border: 1px solid #017e7f;
    border-radius: 5px;
}

.join-button:hover {
    background-color: #46b59b;
}

.links {
    margin-top: -4vh;
    color: white;
}

.link {
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: #46b59b;
}

.link:hover {
    color: white;
}