@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

.start {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hdr {
    color: rgb(226, 201, 168);
    background-color: #0c222c;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'AnythingSkribble';
    font-size: 2rem;
    height: 15vh;
    text-align: center;
    align-items: center;
}

.card {
    color: white;
    font-size: 2.5rem;
    font-family: 'AnythingSkribble';
    background-color: #233e49;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.num-questions {
    margin-top: -4vh;
    margin-bottom: 1vh;
}